### Pandas Concat, Pandas Merge

In [2]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

##### Concat() function helps in concatenating 
        
        i.e. joining two different pandas objects on different axes.

Syntax: pandas.concat(objs,axis,ignore_index)

objs : Series or Dataframe objects – This parameter takes the series or dataframe objects for performing concatenation operation.


axis : {‘0′ for Index,’1’ for Columns} – By providing axis, we tell whether concatenation is to be performed over index or columns. The default is 0.

In [3]:
s1 = pd.Series(['P', 'Q'])
s1

0    P
1    Q
dtype: object

In [4]:
s2 = pd.Series(['R', 'S'])
s2

0    R
1    S
dtype: object

In [5]:
pd.concat([s1, s2])

0    P
1    Q
0    R
1    S
dtype: object

In [6]:
pd.concat([s1, s2], ignore_index=True)

0    P
1    Q
2    R
3    S
dtype: object

In [7]:
df1 = pd.DataFrame([['Apple', 'Jammu & Kashmir'], ['Banana', 'Kerala']], columns=['Fruit', 'State_Grown'])

df1

    Fruit      State_Grown
0   Apple  Jammu & Kashmir
1  Banana           Kerala

In [8]:
df2 = pd.DataFrame([['Watermelon', 'Maharashtra'], ['Strawberry', 'Madhya Pradesh']], columns=['Fruit', 'State_Grown'])

df2

        Fruit     State_Grown
0  Watermelon     Maharashtra
1  Strawberry  Madhya Pradesh

In [9]:
pd.concat([df1, df2],ignore_index=True)

        Fruit      State_Grown
0       Apple  Jammu & Kashmir
1      Banana           Kerala
2  Watermelon      Maharashtra
3  Strawberry   Madhya Pradesh

In [10]:
df3 = pd.DataFrame([['Orange', 'Maharashtra'], ['Pineapple', 'Gujarat']], columns=['Fruit', 'State_Grown'])

df3

       Fruit  State_Grown
0     Orange  Maharashtra
1  Pineapple      Gujarat

In [11]:
pd.concat([df1, df2, df3], axis=1)

    Fruit      State_Grown       Fruit     State_Grown      Fruit  State_Grown
0   Apple  Jammu & Kashmir  Watermelon     Maharashtra     Orange  Maharashtra
1  Banana           Kerala  Strawberry  Madhya Pradesh  Pineapple      Gujarat

Append function will add rows of second data frame to first dataframe iteratively one by one. 

Concat function will do a single operation to finish the job, which makes it faster than append().

Append function will create a new resultant dataframe instead of modifying the existing one. 

Due to this buffering and creating process, Append operation’s performance is less than concat() function. 

However Append() is fine if the number of append operation is a very few. 

If there are a multiple append operations needed, it is better to use concat().