In [7]:
#print 1-10 numbers using while loop
num=0
while num<=10:
    print(num,end=" ")
    num+=1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
#print 1 to 5 numbers using for loop 
for i in range(1,6):
    print(i,end=" ")

In [21]:
# print sum of 1 to 10 using while loop
num=0
sum=0
while num <11:
    sum+=num
    num+=1
print(sum)

55

In [53]:
# print sum of 1 to 10 using for loop
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [37]:
# Factorial using while
sum=1
i=1
while i<=5:
    sum*=i
    i+=1
print(sum)

120

In [1]:
n=int(input())
#m=int(input())
v=ord('A')
for i in range(n):
    k=0
    for j in range(n):
        print(chr(v+k),end=' ')
        k+=5
    print()
    v+=1

A F K P U
B G L Q V
C H M R W
D I N S X
E J O T Y

In [65]:
# factorial using for loop
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

120

In [59]:
# check given string is palindrome
pan=input()
if pan==pan[::-1]:
    print("palindrome")
else:
    print("not palindrome")

 madam

palindrome

In [ ]:
v1="hello world"
print(v1)

hello world

In [93]:
for i in range(65,91):
    for j in range(5):
        alp=chr(i+5)

In [ ]:
# def pattern():
#     for i in range(65,80):
#         z=(chr(i),chr(i+5),chr(i+10),chr(i+15),chr(i+20))
#         print(" ".join(z),)
#         if i==69:
#             return
# pattern()

A F K P U
B G L Q V
C H M R W
D I N S X
E J O T Y

In [29]:
if 5%2==0:
    print("Even")
else:
    print("False")

91

In [5]:
num=int(input())
if num>=0:
    if num%2==0:
        print("Even")
    else:
        print("Odd")
else:
    print("Enter positive number")

 1

Odd

In [1]:
num=int(input())
type(num)

 charan

ValueError: invalid literal for int() with base 10: 'charan'