In [1]:
import sqlite3 as sql
conn=sql.connect("Employee.db")
cur=conn.cursor()
cur.execute('''Create table Employees (           
id primarykey int,name text,age int,class int(2)
);''')
cur.execute("insert into employees values(02,\"Ramu\",24,12")

OperationalError: incomplete input

In [176]:
cur.execute("insert into employees values(03,'Ramu',24,12);")

OperationalError: database is locked

In [171]:
cur.execute("insert into employees values(04,\"Raju\",23,2);")

OperationalError: database is locked

In [174]:
cur.fetchall()

[]

In [21]:
import sqlite3
conn=sqlite3.connect("studen10t.db")

In [27]:

cur=conn.cursor()
cur.execute('''CREATE table IF NOT EXISTS students(
STUDENT_ID INT PRIMARY KEY,
NAME TEXT, 
AGE INT,
CLASS INT
)''')
cur.fetchall()
student_values=[(1,"ramu",22,12),
               (2,"Raju",21,11),
               (3,"gopi",21,12),
               (4,"Santhosh",22,13),
               (5,"akhil",22,12),
               (6,"Sunil",23,11)]
cur.executemany("INSERT INTO STUDENTS VALUES(?,?,?,?)",student_values)
#cur.revoke()

IntegrityError: UNIQUE constraint failed: students.STUDENT_ID

In [35]:
cur.execute("select * from students")
rows=cur.fetchall()
for i in rows:
    print (i)

(1, 'ramu', 22, 12)
(2, 'Raju', 21, 11)
(3, 'gopi', 21, 12)
(4, 'Santhosh', 22, 13)
(5, 'akhil', 22, 12)
(6, 'Sunil', 23, 11)