In [3]:
import warnings 
warnings.filterwarnings("ignore")

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,WordNetLemmatizer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sentiment=SentimentIntensityAnalyzer()

In [6]:
df=pd.read_csv("tweets.csv")
df.tail()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [7]:
text=df["text"]

In [8]:
text.isna().sum()

0

In [9]:
text.info()

<class 'pandas.core.series.Series'>
RangeIndex: 14640 entries, 0 to 14639
Series name: text
Non-Null Count  Dtype
--------------  -----
14640 non-null  object
dtypes: object(1)
memory usage: 114.5+ KB

In [10]:
import re
def remover():
    tests=re.sub("[@+ ]","",text)

In [11]:
import contractions
import emoji
lis=[]
for i in text:
    # removed=word_tokenize(i)
    removed=re.sub("@\w+","",i)
    removed=re.sub("https\S+|http\S+","",removed)
    removed=re.sub("[/\+\"#+\&'$,.:()-;0-9]","",removed)
    removed=emoji.demojize(removed)
    values=sentiment.polarity_scores(removed)
    if values["compound"]>0:
        ans="positive"
    elif values["compound"]==0:
        ans="neutral"
    else:
        ans="negative"
    lis.append(ans)
lis[-5:]

['positive', 'negative', 'positive', 'positive', 'positive']

In [12]:
from sklearn.metrics import classification_report,confusion_matrix
report=classification_report(df["airline_sentiment"],lis)
print(report)

              precision    recall  f1-score   support

    negative       0.90      0.52      0.66      9178
     neutral       0.41      0.41      0.41      3099
    positive       0.33      0.88      0.48      2363

    accuracy                           0.55     14640
   macro avg       0.55      0.60      0.52     14640
weighted avg       0.70      0.55      0.58     14640

In [13]:
confusion_matrix(df["airline_sentiment"],lis)

array([[4754, 1639, 2785],
       [ 450, 1284, 1365],
       [  87,  202, 2074]], dtype=int64)

In [14]:
# import contractions
# lis=[]
# for i in text:
#     # removed=word_tokenize(i)
#     removed=i.lower()
#     removed=contractions.fix(removed)
#     removed=re.sub("@\w+","",removed)
#     removed=re.sub("https\S+|http\S+","",removed)
#     removed=re.sub("[/\+\"#+\&'$,.:()-;0-9]","",removed)
#     removed=word_tokenize(removed)
#     removed=[lemma.lemmatize(i) for i in removed]
#     lis.append(removed)
# lis[:20]

In [15]:
values=sentiment.polarity_scores("the product Was very nice but service is not nice")

In [16]:
if values["compound"]>0:
    print("POS")
elif values["compound"]==0:
    print("NEU")
else:
    print("NEG")

NEG

In [ ]:
fig=plt.figure(dpi=200)
sns.countplot(lis)
plt.show()